.presente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tampa {
    background-color: #7aa944;
    width: 100px;
    height: 25px;
}


.corpo {
    width: 90px;
    height: 60px;
    background-color: #5c7e32;
}

.laco1 {
background-color: red;
width: 15px;
height: 85px;
position: absolute;
}

.laco2 {
    position: absolute;
    width: 90px;
    height: 15px;
    margin-top: 15px;
background-color: red;
}